<!-- Ejemplo de CARD de Bootstrap modificado para que ocupe el 100% del espacio disponible-->

<!-- <div class="card" style="width: 100%;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Servicios</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <button routerLink="/details" (click)="navigate()" class="btn btn-primary">Detalles</button>
    </div>
  </div> -->

    <!-- Esto viene del padre CARDS, se pasa acá -->

  <div class="card" style="width: 100%;">
      <img
        [src]="servicio.imagen"
      />
    <div class="card-body">
      <h5 class="card-title">{{ servicio.nombre | uppercase }}</h5>
      <p class="card-text">{{ servicio.descripcion }}</p>
      
      <!-- Este botón recibe parámetros variables porque routerLink está con [] -->
      <button 
        [routerLink]="['/details', i]" 
         class="btn btn-primary">Detalles
      </button>
      
      <!-- <button 
        (click)="avisarleAlPapa()"
        class="btn btn-primary">Avisarle al Papá
      </button> -->
    </div>
  </div>