<article class="servicios-container py-5">
    <section *ngFor="let analisi of analisis"
    class="servicios-servicio">
        <!-- <app-card></app-card> -->
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <h6 class="card-title">{{analisi.nombre | uppercase}}</h6>
                <h6 class="card-title">Preparación:{{analisi.idprep}} </h6>
            <!-- <h5 class="card-title">{{servicio.nombre | uppercase}}</h5> -->
            <!-- <p class="card-text">{{servicio.descripcion}}</p> -->            
            <!-- Este botón recibe parámetros variables porque routerLink está con [] -->
            </div>
        </div>
    </section>
    <button [routerLink]="['/home']" (click)="navigate()" class="btn btn-primary">Atrás</button>
</article>
