<div class="row">
    <form>
        <div class="mb-3">
            <h4><strong>PRESUPUESTOS</strong></h4>
        </div>
        <div class="alert alert-secondary" role="alert">
            <strong>
                <p>Complete los siguientes campos para recibir presupuesto para sus análisis:</p>
            </strong>
        </div>

        <form class="row g-3">
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">Nombre</label>
              <input type="email" class="form-control" id="inputEmail4">
            </div>
            <div class="col-md-6">
              <label for="inputPassword4" class="form-label">Apellido</label>
              <input type="password" class="form-control" id="inputPassword4">
            </div>

            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Nro. Documento</label>
                <input type="email" class="form-control" id="inputEmail4">
              </div>
              <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Teléfono</label>
                <input type="password" class="form-control" id="inputPassword4">
            </div>

            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Correo electrónico</label>
                <input type="email" class="form-control" id="inputEmail4">
              </div>
              <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Asunto</label>
                <input type="password" class="form-control" id="inputPassword4">
            </div>
              
            <div class="mb-3">
                <strong><label for="exampleFormControlTextarea1" class="form-label">Mensaje</label></strong>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                    placeholder="Ingrese su mensaje... "></textarea>
            </div>
    
            <div class="mb-3">
                <input type="file" class="form-control" aria-label="file example" required>
                <div class="invalid-feedback">Example invalid form file feedback</div>
            </div>
    
            <div class="mb-3">
                <input type="file" class="form-control" aria-label="file example" required>
                <div class="invalid-feedback">Example invalid form file feedback</div>
            </div>
    
            <div class="mb-3">
                <input type="file" class="form-control" aria-label="file example" required>
                <div class="invalid-feedback">Example invalid form file feedback</div>
            </div>
    
            <div class="mb-3">
                <input type="file" class="form-control" aria-label="file example" required>
                <div class="invalid-feedback">Example invalid form file feedback</div>
            </div>
    
            <div class="mb-3">
                <button class="btn btn-primary me-3" type="submit">Enviar</button>
                <button class="btn btn-primary" type="submit">Cancelar</button>
            </div>
            
          </form>
        
</form>
</div>