<!-- <article class="services-container">
    <section *ngFor="let osocial of osociales"
    class="osociales-osocial">
    <div class="card" style="width: 100%;">
          <div class="card-body">
            <h6 class="card-title">{{osocial.nombre | uppercase}}</h6>
            <p class="card-text">{{osocial.digitales}}</p> 
          </div>
        </div>
    </section>
    <button [routerLink]="['/']" (click)="navigate()" class="btn btn-primary">Anterior</button>
</article>  -->

<article class="services-container">
  <section *ngFor="let osocial of osociales"
  class="osociales-osocial">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <!-- <img
        [src]="servicio.imagen"
      /> -->
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{osocial.nombre | uppercase}}</h5>
        <p class="card-text"><small>{{osocial.digitales}}</small></p>
      </div>
    </div>
  </div>
</div>
  </section>
    <button [routerLink]="['/']" (click)="navigate()" class="btn btn-primary">Anterior</button>
</article>
