<div class="row">
    <form>
        <div class="mb-3">
            <h4><strong>AUTORIZACIÓN DE ÓRDENES</strong></h4>
        </div>
        <div class="alert alert-secondary" role="alert">
            <strong>
                <p>Para proceder con la autorización de su orden u ordenes siga los siguientes pasos:</p>
            </strong>

            <ol type="lista">
                <li>Escanee o capture con su celular una imagen de la orden médica.</li>
                <li>Complete el formulario de esta sección y adjunte el archivo generado en el paso previo.</li>
                <li>Si usted a proporcionado un número celular con Whatsapp activo recibirá una respuesta del estado de
                    su autorización a los 5 días hábiles de enviado este formulario.</li>
                <li>En caso que usted no posea esta forma de comunicación por favor comuníquese con nosotros a los 5
                    días de enviado este formulario para conocer el estado de su autorización.</li>
            </ol>
        </div>

        <div class="mb-3">
            <strong><label for="exampleFormControlInput1" class="form-label">Nombre*</label></strong>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese su nombre... ">
        </div>

        <div class="mb-3">
            <strong><label for="exampleFormControlTextarea1" class="form-label">Apellido*</label></strong>
            <input type="email" class="form-control" id="exampleFormControlInput1"
                placeholder="Ingrese su apellido... ">
        </div>

        <div class="mb-3">
            <strong><label for="exampleFormControlInput1" class="form-label">Nro. Documento*</label></strong>
            <input type="email" class="form-control" id="exampleFormControlInput1"
                placeholder="Ingrese su número de documento... ">
        </div>

        <div class="mb-3">
            <strong><label for="exampleFormControlTextarea1" class="form-label">Teléfono*</label></strong>
            <input type="email" class="form-control" id="exampleFormControlInput1"
                placeholder="Ingrese un teléfono de contacto... ">
        </div>

        <div>
            <div class="mb-3">
                <strong>
                    <p>Seleccione lo que corresponda:*</p>
                </strong>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Medicación para tiroides
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Metformina
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Otra medicación para diabete
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Medicación para colesterol
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Medicación para trigliceridos
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Otra medicación
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Sin medicación
                </label>
            </div>

            <div class="mb-3">
                <strong><label for="exampleFormControlTextarea1" class="form-label">Correo electrónico</label></strong>
                <input type="email" class="form-control" id="exampleFormControlInput1"
                    placeholder="Ingrese su correo electrónico... ">
            </div>
            <div class="mb-3">
                <strong><label for="exampleFormControlTextarea1" class="form-label">Asunto</label></strong>
                <input type="email" class="form-control" id="exampleFormControlInput1"
                    placeholder="Ingrese un asunto del mensaje... ">
            </div>

            <div class="mb-3">
                <strong><label for="exampleFormControlTextarea1" class="form-label">Mensaje</label></strong>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                    placeholder="Ingrese su mensaje... "></textarea>
            </div>

            <div class="mb-3">
                <input type="file" class="form-control" aria-label="file example" required>
                <div class="invalid-feedback">Example invalid form file feedback</div>
            </div>

            <div class="mb-3">
                <input type="file" class="form-control" aria-label="file example" required>
                <div class="invalid-feedback">Example invalid form file feedback</div>
            </div>

            <div class="mb-3">
                <input type="file" class="form-control" aria-label="file example" required>
                <div class="invalid-feedback">Example invalid form file feedback</div>
            </div>

            <div class="mb-3">
                <input type="file" class="form-control" aria-label="file example" required>
                <div class="invalid-feedback">Example invalid form file feedback</div>
            </div>

            <div class="mb-3">
                <button class="btn btn-primary me-3" type="submit">Enviar</button>
                <button class="btn btn-primary" type="submit">Cancelar</button>
            </div>
        </div>

    </form>
</div>